{{#partial "contenido"}}
  <!-- Org Navbar -->
  <div id = "header"></div>
  <section class="container">        
    <h1 style="margin-top: 20px">Solicitudes de posibles miembros</h1>
        {{#each solicitudes}}
          <div class="row  d-flex justify-content-around border rounded p-2" name="solicitudes">
                  <div class="col-auto d-flex justify-content-center"  style="width:33%;">
                      {{solicitante.nombre}} {{solicitante.apellido}}
                  </div>
                  <div class="col-auto d-flex justify-content-center " style="width:33%;">
                      {{areaSolicitada.nombre}}
                  </div>
                  <div class="col-auto d-flex justify-content-center" style="width:18%;">
                      <form action="organizacion/solicitudes/{{areaSolicitada.organizacion.id}}/aceptar/{{id}}" method = "POST">
                      <button type="button" class="btn btn-success" id="aceptar-button"
                              onclick="aceptarSolicitud({{id}}, {{areaSolicitada.organizacion.id}})">Aceptar</button>
                      </form>
                  </div>
                  <div class="col-auto" style="width:15%;">
                      <form action="" method = "GET">
                      <button type="button" class="btn btn-danger" id="rechazar-button" name="rechazar-button"
                              onclick="eliminarSolicitud({{id}}, {{areaSolicitada.organizacion.id}})" >Rechazar</button>
                      </form>

                  </div>
          </div>
            {{else}}
                <p class="fs-3 fw-light mt-4 mb-3">No hay solicitudes activas</p>
        {{/each}}
      </section>

      <script>

          async function aceptarSolicitud(idSolicitud, idOrganizacion) {
              let urlToPost = 'http://localhost:9000/organizacion/solicitudes/' + idOrganizacion + '/aceptar/' + idSolicitud
              console.log("le pegamos al org aceptar sol");
              await fetch(urlToPost, {
                          method: 'POST',
                      }
              ).then(response => response.json())
                      .then(res => console.log(res))
                      .finally(() => location.reload())
          }
          async function eliminarSolicitud(idSolicitud, idOrganizacion) {
              let urlToPost = 'http://localhost:9000/organizacion/solicitudes/' + idOrganizacion + '/rechazar/' + idSolicitud
              console.log("le pegamos al ord rechazar");
              await fetch(urlToPost, {
                          method: 'POST'
                      }
              ).then(response => response.json())
                      .then(res => console.log(res))
                      .finally(() => location.reload())

          }

      </script>

    {{/partial}}
    {{> shared/org_base.hbs }}
