{{#partial "contenido"}}

    <section class = "container mb-4">
        <div class = "d-flex justify-content-center">
            <h1 style="margin-top: 20px">Mis trayectos</h1>
        </div>
        <br>
        <div class="row align-items-center border rounded p-2">
            <div class="col-auto d-flex justify-content-center"  style="width:25%; font-weight: bold;">
                Trayecto
            </div>
            <div class="col-auto d-flex justify-content-center" style="width:25%; font-weight: bold;">
                Organización
            </div>
            <div class="col-auto d-flex justify-content-end" style="width:50%;">
                <form action="/user/trayectos/agregar" method = "GET">
                    <button type="submit" class = "btn btn-light btn-rounded">
                        <img src="/images/plus.png" width="30" height="30" alt="agregar trayecto"/>
                    </button>
                </form>
            </div>
        </div>
        {{#each trayectos}}
            <div class="row align-items-center border rounded p-2">
                <div class="col-auto d-flex justify-content-center"  style="width:25%;">
                    <a>{{incrementar @index}}</a>
                </div>
                <div class="col-auto d-flex justify-content-center" style="width:25%;">
                    <a>{{organizacion.nombre}}</a>
                </div>
                <div class="col-auto d-flex justify-content-center" style="width:25%;">
                    <form action="/user/trayectos/eliminar/{{id}}" method = "POST">
                        <button type="submit" class = "btn btn-outline-danger btn-rounded">
                            <img src="/images/bin.png" width="30" height="30" alt="eliminar trayecto {{incrementar @index}}"/>
                        </button>
                    </form>
                </div>
                <div class="col-auto d-flex justify-content-center" style="width:25%;">
                    <form action="/user/trayectos/editar/{{id}}" method = "GET">
                        <button type="submit" class = "btn btn-outline-primary btn-rounded">
                            <img src="/images/pencil.png" width="30" height="30" alt="editar trayecto {{incrementar @index}}"/>
                        </button>
                    </form>
                </div>
            </div>
        {{/each}}
    </section>

{{/partial}}
{{> ../public/shared/user_base.hbs }}