{{#partial "contenido"}}

<section class="container">
  <form action="tramo-particular.html" method="POST">
    <div class="form d-flex flex-column">
      <h1 style="margin-top: 20px">Nuevo trayecto</h1>
    </div>
    <div class="form-group">
      <label class = "font-weight-bold pt-2" for="exampleInputEmail1" style="font-size: 110%; font-weight: bold;">Organización a la que se dirige o de la que regresa</label>
      <br>
      <select class="custom-select" name="organización" >

        <!-- todo: hacer un get de mis organizaciones xd y desplegarlas -->
        <option value="">Seleccione Organización...</option>
      </select>
      <br><small id="org-help" class="form-text text-muted">Si va de una a otra, seleccionar la de destino</small>
    </div>
    <div class="container">
            <div class ="row">
                {{#each tramos}}
                    <div class="col-sm-3">
                    <div class="card text-white bg-dark mb-3" style="max-width: 16rem;">
                        <div class="card-header">
                            <h5 class="card-title">Tramo {{@index}}</h5>
                            <hr>
                        </div>
<!--                        <div class="card-body" style="margin-top:-20px">-->
<!--                            <p class="card-text" style="font-weight: bold;">Origen:</p>-->
<!--                            <p class="card-text">{{direccionInicio}}</p>-->
<!--                            <p class="card-text" style="font-weight: bold;">Destino:</p>-->
<!--                            <p class="card-text">{{direccionFin}}</p>-->
<!--                            <p class="card-text" style="font-weight: bold;">Tipo de tramo:</p>-->
<!--                            <p class="card-text">{{tipo}}</p>-->
<!--                        </div>-->
                        <div class = "justify-content-end">
                            <form action="/delete/{{id}}" method = "POST">
                                <button type="submit" class="rounded-circle">
                                    <img src="/images/trash-bin.png" width="50" height="50" alt="eliminar tramo {{@index}}"/>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
    </div>
    <div>
      <label class = "font-weight-bold" for="exampleInputEmail1" style="font-size: 110%; font-weight: bold;">Agregar nuevo tramo</label>
      <br>
      <a type="button" href="registrar/publico" class="btn btn-secondary">Tramo público</a>
      <a type="button" href="registrar/limpio" class="btn btn-secondary">Tramo limpio</a>
      <a type="button" href="t_particular_unirse.html" class="btn btn-secondary">Tramo particular - Sumarse</a>
      <a type="button" href="t_particular_crear.html" class="btn btn-secondary">Tramo particular - Crear</a>
      <a type="button" href="t_contratado_unirse.html" class="btn btn-secondary">Tramo contratado - Sumarse</a>
      <a type="button" href="registrar/contratado" class="btn btn-secondary">Tramo contratado - Crear</a>
    </div>
    <br>
    <button type="submit" class="btn btn-success" style="margin-bottom:30px">Confirmar trayecto</button>
  </form>

</section>
{{/partial}}
{{> ../public/shared/user_base.hbs }}