{{#partial "contenido"}}
    <!-- Org Navbar -->
    <section class="container">
        <h1 class="mb-3 mt-4" >Reportes Huella de Carbono</h1>
        <p>Seleccione la periodicidad</p>
        <select class="custom-select" name="select_periodo" id="select_periodo"
                onchange="redireccionarToVerReportes('select_periodo')" required>
            <option disabled selected value=""> Periodo</option>
            {{#each mensuales}}
                    <option value="{{id}}" id="{{id}}" >
                        Mensual: {{mes}} / {{anio}}
                    </option>
            {{else}}
                <p> No hay meses cargados ;(</p>
            {{/each}}
            {{#each anuales}}
                <option value="{{id}}" id="{{id}}" >
                    Anual: {{anio}}
                </option>
            {{else}}
                <p> No hay anios cargados ;(</p>
            {{/each}}
        </select>
        <!-- aca va  el total de la org-->
    <div class ="row">
        {{#each areas}}
            <div class="col-sm-4">
                <div class="card  bg-secondary  text-white mb-3 mt-4" style="max-width:400px;max-height:360px;">
                    <div class="card-header pl-4">
                        <h5 class="card-title">Huella de Carbono Por Area</h5>
                    </div>

                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <div class="mt-2">
                                <span class="card-text" style="font-weight: bold;">Impacto Total en la organizacion</span>
                                <p class="card-text">{{calculoHC}} l/m^2</p>
                            </div>
                            <div class="mt-2">
                                <span class="card-text" style="font-weight: bold;">indicador HC por miembro</span>
                                <p class="card-text">{{indicadorHCporMiembro}}l/m^2</p>
                            </div>
                            <div class="mt-2">
                                <span class="card-text" style="font-weight: bold;">Impacto en al organizacion</span>
                                <p class="card-text">{{impactoHCEnSuOrg}} %</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

        <!-- aca arrancan por area-->
        <div class="card  bg-light mb-3 mt-4" style="max-width:400px;max-height:360px;">
            <div class="card-header pl-4">
                <h5 class="card-title">Huella de Carbono Total</h5>
            </div>
            <div class="card-body">
                {{#if organizacion}}

                <div class="d-flex flex-column">
                <div class="">
                    <span class="card-text" style="font-weight: bold;">Organizaciones</span>
                    <p class="card-text">{{organizacion.nombre}}</p>
                </div>
                {{/if}}
            {{#if hcTotal}}
                <div class="mt-2">
                    <span class="card-text" style="font-weight: bold;">Huella de Carbono Por trayectos</span>
                    <p class="card-text">64 l/m^3 ||| {{hcTotal}}</p>
                </div>
            {{/if}}
            {{#if hcActividades}}

                <div class="mt-2">
                    <span class="card-text" style="font-weight: bold;">Huella de Carbono Por Mediciones</span>
                    <p class="card-text">0.1% || {{hcActividades}}</p>
                </div>
            {{/if}}
            {{#if hcTrayectos}}
                <div class="mt-2">
                    <span class="card-text" style="font-weight: bold;">Huella de Carbono Total</span>
                    <p class="card-text">0.1% || {{hcTrayectos}}</p>
                </div>
            </div>
            {{/if}}
        </div>
        </div>
    </section>
    <script>

        function redireccionarToVerReportes(idSelectPeriodicidad){
            let idPeriodicidad = document.getElementById(idSelectPeriodicidad).value;
            /*
            var select = document.getElementById('select_periodo')
            console.log(select);
            var selectedOption = this.selectedOptions[0];
            console.log(selectedOption);

   var idPeriodicidad = selectedOption.value;
             */

            console.log(idPeriodicidad);
            console.log(window.location.href);

            window.location.href = window.location.href +'/' +  idPeriodicidad;
        }
    </script>
{{/partial}}
{{> ../public/shared/user_base.hbs }}