{{#partial "contenido"}}
  <!-- Org Navbar -->
  <div id = "header"></div>
  <section class="container">        
    <h1 style="margin-top: 20px">Solicitudes de posibles miembros</h1>
    {{!--
          <div class="row align-items-center border rounded p-2" name="solicitud">
              <div class="col-auto d-flex justify-content-center"  style="width:33%; font-weight: bold;">
                  Organizacion
              </div>
              <div class="col-auto d-flex justify-content-center" style="width:33%; font-weight: bold;">
                  Sector
              </div>
          </div>
    --}}
        {{#each solicitudes}}
          <div class="row  d-flex justify-content-around border rounded p-2" name="solicitudes">
                  <div class="col-auto d-flex justify-content-center"  style="width:33%;">
                      {{this}}
                      {{areaSolicitada.organizacion.nombre}}
                  </div>
                  <div class="col-auto d-flex justify-content-center " style="width:33%;">
                      {{areaSolicitada.nombre}}
                  </div>
                  <div class="col-auto d-flex justify-content-center" style="width:18%;">
                      <button type="button" class="btn btn-success" id="aceptar-button"
                              onclick="eliminarSolicitud({{id}})">Aceptar</button>
                  </div>
                  <div class="col-auto" style="width:15%;">
                      <button type="button" class="btn btn-danger" id="rechazar-button" name="rechazar-button"
                              onclick="eliminarSolicitud({{id}})">Rechazar</button>
                  </div>
          </div>
        {{else}}
        <p class="fs-3 fw-light mt-3 mb-3">No hay solicitudes activas</p>
        <h1>No Results</h1>
        {{/each}}
      </section>

      <script>
          async function eliminarSolicitud(idSolicitud) {
              await fetch('http://localhost:9000/organizacion/solicitudes/delete/' + idSolicitud, { // todo: revisar como mabdar algo por body en js
                          method: 'DELETE'
                      }
              ).then(response => response.json())
          }

          async function aceptarSolicitud(idSolicitud) {
              await fetch('http://localhost:9000/organizacion/solicitudes/aceptar/' + idSolicitud, { // todo: same arriba
                          method: 'POST'
                      }
              ).then(response => response.json())
          }

      </script>

    {{/partial}}
    {{> ../public/shared/user_base.hbs }}
