<!-- Heredamos el contenido de user base -->
{{#partial "contenido"}}
<section class="container form my-4">
    <div>
        <a href = "/user/trayectos/editar/{{idTrayecto}}">
            <button class = "btn btn-secondary">Ir para atrás</button>
        </a>
    </div>

    <form
        {{#if tramo}} action = "/user/trayectos/tramo/limpio/modificar/{{idTrayecto}}/{{tramo.id}}"
        {{else}} action = "/user/trayectos/tramo/limpio/crear/{{idTrayecto}}"
        {{/if}}
            method="POST" class = "row">
        <div class = "d-flex justify-content-center">
            {{#if tramo}}
                <h2 >Edición de Tramo Limpio</h2>
            {{else}}
                <h2 >Creación de Tramo Limpio</h2>
            {{/if}}
        </div>
        <div class = "col-sm-8">
            <div class = "form-section my-2">
                {{> shared/cargando_direccion.hbs}}
            </div>
            <div class = "form-section my-2 col-sm-6">
                <strong>Datos del transporte:</strong>
                <div class = "form-group my-2">
                    <label for = "transporte">Transporte utilizado</label>
                    <input class = "form-control" id = "transporte" name = "tipo"
                           placeholder = "Ingrese el transporte utilizado">
                    <small>Por ejemplo: bicicleta, a pata, skateboard, etc...</small>
                </div>
            </div>

        </div>
        <div class = "col-sm-4 d-flex justify-content-center align-items-center">
            <figure class="form-section-img">
                <img src="/images/undraw_ride_a_bike_girl.svg" class="form-section-picture" alt="car_route"
                  width="100%">
            </figure>
        </div>
        <div class = "d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-primary">
                {{#if tramo}}Guardar{{else}}Crear{{/if}}
            </button>

        </div>
    </form>

    {{#if tramo}}
        <script>

            // si le pasamos el tramo, llenamos los input y seleccionamos los select
            document.getElementById("transporte").value = "{{tramo.tipo}}";
            cargarDirecciones();

        </script>
    {{/if}}

</section>
  {{/partial}}
  {{> shared/user_base.hbs }}